*{
  margin: 0;
  padding: 0;
  
}
.prosto-one {
  font-family: 'Prosto One', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
}
.slick-next {
  right: 20px !important;
}
.slick-prev {
  left: 20px !important;
  z-index: 999 !important ;
}
.Hero-text{ 
  padding-top: 220px;
} 
.Hero-text-two{
  position: absolute;
  top: 0px;
  padding-top: 278px;
  color: #ffffff;
}
.Heros{
  height: 500px;
  background-size: 100% 100%;
  background-size: cover;
}
.img{
  width: 50%;
  position: relative;
  overflow: hidden;
}
.img img{
  width: 100%;
  display: block;
}
.img::before{
  content: '';
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 307px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
}

.Signup{
  width: 100%;
  background-size: cover;
}

.log-sub {
  padding: 10px 30px;
  background-color: #2f0707;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-family :"Prosto One", system-ui;
  border: none;

}
/* button{
  width: 150px;
  height: 30px;
  background-color: maroon;
  color: white;
  padding: 5px; 
  margin: 10px;
  border: 2px solid black;
}
.active{
  background-color: white;
  color: maroon;
  border: 2px solid maroon;
} */
 .css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input {
  border: 2px solid #000 !important;
  color: brown !important;
  border-radius: 5px !important;
 }