*{
  margin: 0;
  padding: 0;
  
}
.prosto-one {
  font-family: 'Prosto One', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
}
.slick-next {
  right: 20px !important;
}
.slick-prev {
  left: 20px !important;
  z-index: 999 !important ;
}
.Hero-text{ 
  padding-top: 220px;
} 
.Hero-text-two{
  position: absolute;
  top: 0px;
  padding-top: 278px;
  color: #ffffff;
}
.Heros{
  height: 500px;
  background-size: 100% 100%;
  background-size: cover;
}
.img{
  width: 50%;
  position: relative;
  overflow: hidden;
}
.img img{
  width: 100%;
  display: block;
}
.img::before{
  content: '';
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 307px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
}

.Signup{
  width: 100%;
  background-size: cover;
}

.log-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-box {
  width: 30%;
  padding: 25px;
  border-radius: 25px;
  box-shadow: rgb(110, 172, 218) 0px 0px 5px;
  box-shadow: 9px 9px 20px -9px #3b3b3b;
}

.log-admin {
  margin: 0px 0px 20px;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  text-align: center;
  color: #000;
  font-weight: 700;
}

.log-form {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px 0px 20px 0;
  border: 0px;
  width: 100%;
}

.form {
  margin-bottom: 10px;
}

.log-sub {
  padding: 9px 20px;
  background-color: #3b3b3b;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border: none;
  box-shadow: #6EACDA 0px 0px 5px;
}

.log-sub a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
/* button{
  width: 150px;
  height: 30px;
  background-color: maroon;
  color: white;
  padding: 5px; 
  margin: 10px;
  border: 2px solid black;
}
.active{
  background-color: white;
  color: maroon;
  border: 2px solid maroon;
} */
 .css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input {
  border: 2px solid #000 !important;
  color: brown !important;
  border-radius: 5px !important;
 }
 .paddYaxis{
  padding: 2px 10px;
}
.link{
  color: #3b3b3b;
  text-decoration: none;
  font-size: 18px;
}
.link:hover{
  transition: 0.3s;
  color: #dd1a18;
}



/* Animations */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.animation {
  opacity: 0;
  transform: translateX(-300px);
  transition: all 2s ease-in-out;
  color: #dd1a18;
}
.scroll-animation {
  opacity: 1;
  transform: translateX(0);
}
.Animate{
  height: 200px;
  box-shadow: 0px 0px ;
}
.Animate:hover{
  transition: 1s ease-in-out;
  height: 380px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
}
