*{
  margin: 0;
  padding: 0;
  
}
.prosto-one {
  font-family: 'Prosto One', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
}
.slick-next {
  right: 20px !important;
}
.slick-prev {
  left: 20px !important;
  z-index: 999 !important ;
}
.Hero-text{ 
  padding-top: 220px;
} 
.Hero-text-two{
  position: absolute;
  top: 0px;
  padding-top: 278px;
  color: #ffffff;
}
.Heros{
  height: 500px;
  background-size: 100% 100%;
  background-size: cover;
}
.img{
  width: 50%;
  position: relative;
  overflow: hidden;
}
.img img{
  width: 100%;
  display: block;
}
.img::before{
  content: '';
  background-color: rgba(0, 0, 0, 0.650);
  border-radius: 307px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
}



button{
  width: 150px;
  height: 30px;
  background-color: maroon;
  color: white;
  padding: 5px; 
  margin: 10px;
  border: 2px solid black;
}
.active{
  background-color: white;
  color: maroon;
  border: 2px solid maroon;
}